:root {
  --dark-blue: #fcfcfc;
  --darkest-blue: #0e2141;
  --darkblue-light: #f5fafe;
  --blue: #252a4a;
  --light-blue: #101b1d;
  --red: #ec1f46;
  --lighter: #f1f2fc;
  --ok: #202342;
  --white: whitesmoke;
  
}
/* :root {
  --dark-blue: #252a4a;
  --darkest-blue: #202342;
  --darkblue-light: #353a65;
  --blue: #6266f4;
  --light-blue: #73dae8;
  --red: #ff5a82;
  --lighter: #a1a3f8;
  --ok: palegreen;   
  --white: whitesmoke;
} */
.bg-ok{
  background:linear-gradient(#202342d7,#202342d2), url('https://wallpapercave.com/wp/wp6988787.png');
  background-position: center;
  background-size: cover;
}
.text-ok{
  color: var(--ok);
}
body {
  background-color: #fcfcfc;
  color: white;
}
.custom-shadow{
  box-shadow: 5px 5px 20px rgba(216, 216, 216, 0.397),-5px -5px 20px rgba(216, 216, 216, 0.534);
}
.text-lighter {
  color: var(--lighter);
}

.bg-lighter {
  background-color: var(--lighter);
}

.text-Db {
  color: var(--darkest-blue);
}

.bg-Db {
  background-color: var(--darkest-blue);
}

.text-db {
  color: var(--dark-blue);
}

.bg-db {
  background-color: var(--dark-blue);
}

.text-db-light {
  color: var(--darkblue-light);
}

.bg-db-light {
  background-color: var(--darkblue-light);
}

.text-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.text-red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.rounded-image {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
}
.shine:hover{
  transform: scale(1.2,1.2);
  cursor: pointer;
}
.small-rounded-image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-right: 10px;
}

.rounded-image img {
  height: 140px;
}

.small-rounded-image img {
  height: 60px;
}
.reserve{
  position: relative;
  width: 17px;
}
.reserve svg{
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
}
.reserve p{
  position: absolute;
  left: 50%;
  transform: translateX(0%);
  top: -25px;
}
.blurred {
  background-color: #252a4a1e;
  backdrop-filter: blur(6px);
}

.border-0 {
  border: 0;
}

.br-none {
  border-radius: 0px;
}

.bg-0 {
  background: transparent;
}

input {
  outline: none;
}

input[type=email],
input[type=password],
input[type=file],
input[type=submit],
input[type=number],
input[type=text] {
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.356);

}

 .scrollabe{
  scroll-padding-bottom: 9999px;
  border: 1px solid #ec1f46;
 }

.rounded-edges {
  border-radius: 100px;
}


.background-image {
  background-position: center;
  background-size: contain;
}

textarea {
  outline: none;
  width: 50vw;
}
span.list-group-item{
  border: none;
}
span.list-group-item{
  border: none;
  border-bottom: 1px solid var(--dark-blue);
}
::-webkit-scrollbar {
  background-color: #353a65;
  width: 5px;
  height: 5px;
  scroll-padding-top: 90000px;
}
.faded{
  border: 1px solid #353a65;

}
.o-x{
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  background-color:#202342;
  border-radius: 100px;
}
.nav-link, .card-hostel{
  transition: .3s;
}

.card-hostel:hover{
  transform: scale(1.02,1.02);
  z-index: 4;
  transform-origin: center;
  transition: .3s;
}
.nav-link:hover{
  background-color: rgba(240, 248, 255, 0.082);
  transform: scale(1.09, 1.09);
  transition: .3s;
}
::-webkit-file-upload-button {
  border-radius: 100px;
  border: none;
  padding: 2px 15px;
}
textarea{
  border: 1px solid rgba(128, 128, 128, 0.123);
}
.details{
  width: 50%;
}
.hair-line{
  border: 1px solid rgba(128, 128, 128, 0.149);
}
.hostel{
  transform: scale(.98,.98);
}
.login button{
  width: 400px;
}
.message{
  width: 25%;
  transform: translateZ(400px);
}
.room-pic{
  height: 250px;
  width: 100%;
}
.room-btn{
  width: 160px;
}
.hostel-pic{
  height: 57vh;
}
.comment-card{
  width: 25vw;
}
.dean{
  width: 75vw;
}
.m_section_2{
  width: 25vw;
}
.login-c{
  width: 50vw;
}
.sidebar {
  flex-direction: column;
  width: 100vw;
  height: 50px;
  padding: 0px;
  width: 70px;
  justify-content: space-around;
  height: 25vh;
  border-radius: 10px;
}
.approve{
  width: 50%;
}
.d-image{
height: 250px;
}
.m-stat{
  width: 50%;
}
video{
  height: inherit;
  max-height: 150px;
}
@media (max-width:800px) {
  video{
    max-height: 100vh;
  }
  .add-room #input{
    width: 250px;
  }
  .m-stat{
    width: 100%;
  }
  .d-image{
    height: 100%;
    
  }
  .approve{
    width:100% ;
  }
  .managers{
    color: #101b1d;
  }
  .dean-profile{
    box-shadow: 5px 5px 20px rgba(216, 216, 216, 0.397),-5px -5px 20px rgba(216, 216, 216, 0.534);
    color: #0e2141;
    width: 80vw;
  }
  .login-c{
    width: 100vw;
  }
  .report{
  transform: translateX(-10%) scale(.8,.8);
  }
  .dean{
    width: 100vw;
  }
  .comment-card{
    width: 75vw;
  }
  .hostel-pic{
    height: 100%;
  }
  .room-pic{
    height: 100%;
    width: 100%;
  }
  *{
    transition: .1s;
  }
  .message{
    width: 75%;
    background-color: #f5fafe;
  }
  .login{
    background: transparent;
    box-shadow: none;
  }
  .login button{
    width: 300px;
  }
  textarea{
width: 80vw;
  }
  .details{
    width: 100%;
  }
  input[type=email],
  input[type=password],
  input[type=file],
  input[type=submit],
  button,
  input[type=number],
  input[type=text] {
    width: 350px;

  }

  @media (max-width:500px) {
    img{
      width: 100%;
    }
    input[type=email],
    input[type=file],
    input[type=password],
    input[type=submit],
    button,
    input[type=number],
    input[type=text] {
      width: 300px;
    }
  }
.m_section_2{
  width: 50vw;
}
  .sidebar {
    /* transform: scale(.7, .7); */
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0px;
    bottom: 0%;
    right: 0;
    z-index: 5;
    border-radius: 0px;
    justify-content: space-around;
    /* background-color: rgba(240, 248, 255, 0.315); */
    /* backdrop-filter: blur(6px); */

  }

  .fullpage {
    background-color: var(--dark-blue);
  }

  .m_section_2 {
    background: transparent;
    
    width: 100vw;
  }

}
@media (max-width: 380px){
  #AdvancedSearch
  input[type=email],
  #AdvancedSearch
  input[type=number],.as-btn,
  #AdvancedSearch
  input[type=text] {
    width: 230px;
  }
}
@media (max-width:320px) {
  input[type=email],
  input[type=file],
  input[type=password],
  input[type=submit],
  button,
  input[type=number],
  input[type=text] {
    width: 200px;
  }
}